<form id="{{ form.id }}" class="box user-form content" action="{{ form.actionRoute }}" method="post">

    <h1 class="h1">
        {% if form.title %}
            {{ form.title }}

        {% else %}
            {{ form.submitLabel }}

        {% endif %}
    </h1>

    <hr>

    <div class="notification is-hidden" name="notice" data-animate="{{ form.noticeAnimation|default('shake') }}"></div>

    {% for input in form.fields %}

        {% if input.type == 'hidden' %}
            <input type="hidden" name="{{ input.name }}" value="{{ input.value }}">
            <span class="help is-danger"></span>

        {% else %}

            <div class="field">
                <label class="label">{{ input.label }} {% if input.required %} <span class="required">*</span>{% endif %}</label>
                <p class="control">
                    {% if   input.type == 'select'
                        or  input.type == 'search'
                        or  input.type == 'url'
                        or  input.type == 'range'
                        or  input.type == 'month'
                        or  input.type == 'week'
                        or  input.type == 'time'
                        or  input.type == 'reset'
                        or  input.type == 'tel' %}

                        {% if input.type == 'tel' %}
                            <input class="input" type="tel" placeholder="512-555-1234">

                        {% endif %}

                        {% if input.type == 'select' %}
                            <div class="select">
                                <select name="{{ input.name }}"{% if input.required %} required{% endif %}>
                                    <option>Select user type</option>
                                    {% for opt in input.opts %}
                                        <option value="{{ opt.id }}">{{ opt.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help is-danger"></span>
                            </div>
                        {% endif %}

                    {% else %}
                        <input
                            class="input"
                            type="{{ input.type }}"
                            placeholder="{% if input.placeholder %}{{ input.placeholder }}{% else %}{{ input.label }}{% endif %}"
                            name="{{ input.name }}"
                            {% if input.required %}required{% endif %}
                            {% if input.value %}value="{{ input.value }}"{% endif %}
                        >
                        <span class="help is-danger"></span>
                    {% endif %}
                </p>
            </div>
        {% endif %}
    {% endfor %}


    <hr>


    <div class="field is-grouped">
        <p class="control">
            <button class="button is-primary" type="submit">{{ form.submitLabel }}</button>
            {% if form.forgotPassword %}
                <a class="button is-link" href="{{ routes.forgot_password }}">Forgot password?</a>
            {% endif %}

            {% if routes.forgot_password == current_route %}
                <a class="button is-link" href="{{ routes.login }}">I remembered my password!</a>
            {% endif %}
        </p>
    </div>

</form>
